<ion-header>
  <ion-navbar>
    <ion-title>Tela Inicial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Trabalho - Jogo de Percursos</h2>
      <ion-content padding>
        <form [formGroup]="formGroup" (ngSubmit)="enviarQuestao(); $event.preventDefault()">
          <!-- <ion-item>
            <ion-label floating>Dificuldade</ion-label>
            <ion-select formControlName="dificuldade">
              <ion-option *ngFor="let dificuldade of dificuldades; let i = index;" [value]="i">{{dificuldade}}</ion-option>
            </ion-select>
          </ion-item> -->
      
          <ion-item>
            <ion-label floating>Tema</ion-label>
            <ion-select formControlName="tema">
              <ion-option *ngFor="let tema of temas" [value]="tema.id">{{tema.nome}}</ion-option>
            </ion-select>
          </ion-item>
      
          <ion-item>
            <ion-label floating>Pergunta</ion-label>
            <ion-input formControlName="enunciado" type="text"></ion-input>
          </ion-item>
      
          <div *ngFor="let quantidade of quantidadeResposta">
            <ion-item>
              <ion-label floating>Resposta da pergunta</ion-label>
              <ion-input  formControlName="resposta" type="text"></ion-input>
            </ion-item>
      
            <ion-item>
                <ion-label floating>Correta</ion-label>
                <ion-select formControlName="respostaCerta">
                  <ion-option  value=true>Sim</ion-option>
                  <ion-option  value=false>Não</ion-option>
                </ion-select>
              </ion-item>
              <button ion-button  type="button" (click)="confirmarResposta()">Confirmar</button>
            </div>
            <button ion-button  type="button" (click)="adicionarResposta()">Resposta</button>
      
          <!-- <button ion-button  color="primary" type="submit">Configurações</button> -->
        </form>
  <div class="list-buttons">

      <form [formGroup]="formGroup" (ngSubmit)="definifirTema(); $event.preventDefault()">

          <ion-item >
              <ion-label floating>Digite o tema do jogo</ion-label>
              <ion-input  formControlName="nome" type="text"></ion-input>
            </ion-item>
            <button ion-button [color]="primary" type="submit">Definir Tema</button>
      </form>


      <button ion-button [color]="primary"  [navPush]="'TelaJogoPage'" type="button">Gerar o jogo</button>
  </div>


</ion-content>
