<ion-header>
    <ion-navbar>
      <ion-title>Configurações do jogo</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
        <form [formGroup]="formGroup" (ngSubmit)="enviarConfiguracao(); $event.preventDefault()">
      <ion-item>
        <ion-label floating>Tabuleiro - cor</ion-label>
        <ion-select formControlName="coresTabuleiro">
          <ion-option *ngFor="let cor of cores" [value]="cor.id">{{cor?.cor}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngFor="let number of quantidadePerguntaAvatar; let i = index;">
              <ion-label  floating>Cor do personagem {{i + 1}}</ion-label>
              <ion-select    (ionChange)="inserirCor($event)"  >
                <ion-option    *ngFor="let cor of cores" [value]="cor.id">{{cor?.cor}}</ion-option>
              </ion-select>

        </ion-item>
        <button ion-button [color]="primary"type="button" (click)="adicionarCorAvatar()">Adicionar</button>


        <ion-item *ngFor="let number of quantidadeMensagem; let i = index;">
            <ion-label floating>Mensagem Da Última Casa do jogo {{i + 1}} </ion-label>
            <ion-input (blur)="inserirMensagem($event.target.value)" value="Mensagem Default"  type="text"></ion-input>
          </ion-item>
          <button ion-button [color]="primary"type="button" (click)="adicionarMensagem()">Mensagem</button>
      <button ion-button block color="primary" type="submit" >Confirmar</button>

    </form>

  </ion-content>
